.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  position: relative;

  border: 4px dashed blue;
}

.logo__place_header {
  width: 228px;
  height: 32px;
  left: 64px;
  top: 30px;
  position: absolute;
  border-style: dashed;
  border-color: red;
}


.header__main-illustration {
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  border-style: dashed;
  border-color: red;
  z-index: 1;
}

.header__square_pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  bottom: 0px;
  background-color: #2f80ed;
  border-style: dashed;
  border-color: red;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  border-style: dashed;
  border-color: red;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  border-style: dashed;
  border-color: red;
  z-index: 3;
}


.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
   
  border: 4px dashed blue;
}

.two-columns {
  margin: 100px auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.two-colums__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  margin: 30px auto;
  line-height: 34px;
  font-size: 24px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 4px dashed blue;
}

.section-title {
  width: 60%;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  padding: 0;
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 0px;

  border: 4px dashed yellow;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-style: 600;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 4px dashed blue;
}

.table__heading_theme_dark {
  width: 60%;
  margin-top: 90px;
  margin-bottom: 20px;
}

.table__subtitle_theme_dark {
  width: 60%;
}

.table__theme_dark {
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


.feynman {
  background-color:#f2f2f2;
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 4px dashed blue;
}

.feynman__title {
  width: 648px;
  margin-top: 100px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
}

.feinman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  position: absolute;
  right: 48px;
  height: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#2f80ed;
}

.feynman_img {
  width: 867px;
  height: 637px;
}

.footer {
  background-color: #000000;
}

.footer__author {
  margin: auto 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns {
  color: white;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-direction: row;
  width: 90%;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  display: flex;
  flex-direction: column;
}

